/* General Selectors */

* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: Nunito;
}

footer {
  background-color: #f9f4f4;
}

.list-nav li {
  list-style-type: none;
  list-style-position: inside;
  background-color: white;
}

.list-footer li {
  list-style-type: none;
  list-style-position: inside;
  font-family: 'Varela Round', sans-serif;
}

nav {
  margin-top: 10px
}

ul {
  padding-left: 0;
}

/* ID selectors */

#portfolio {
  padding-bottom: 20px;
}

/* Class selectors */

.col img {
  padding-bottom: 15px;
}

.col > p,
.col > h3 {
  padding-bottom: 25px;
  margin: auto;
  display: inline-block;
  width: 90%;
}

.container {
  padding: 25px 10px;
}

.li2, .li3, .li4 {
  display: none;
  font-family: Nunito;
}

.list-footer a {
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
}

.list-footer {
  float: right;
}

.main-header {
  background-color: #f9f4f4;
  padding: 0 0 20px 0;
  padding-bottom: 40px;
}


.main-footer {
  padding: 40px 1em 20px 1em;
}

.name,
.main-nav a {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 8px 12px;
  color: black;
  margin: 0.4em 0;
}

.main-nav {
  padding-bottom: 20px;
}

.name {
  margin: 0;
}

.name-footer {
  float: left;
  padding: 10px 15px;
}

.nav-footer {
  padding-top: 18px;
  border-top: 1px solid lightgray;
}

.portret {
  width: 70%;
  height: auto;
  padding-bottom: 20px;
}

.responsive {
  width: 100%;
  height: auto;
}

/* ---- Float clearfix ---- */

.group::after {
	content: " ";
	display: table;
	clear: both;
}

/* --- Media Quaries --- */

@media(min-width: 768px) {

  p {
    line-height: 1.5em;
  }

  .col {
    padding: 20px 10px;
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .main-header {
    padding-bottom: 0;
  }

  .main-nav li {
    background-color: initial;
    display: inline-block;
    padding-left: 20px;
  }

  .portret-text {
    font-size: 1.1em;
    float: left;
    width: 60%;
    text-align: left;
    padding-right: 10px;
  }

  .portret {
    float: right;
    width: 40%;
  }

  .part1, .part2 {
    width: 50%;
    float: left;
  }

  .part3, .part4 {
    width: 50%;
    float: left;
  }

  .part5, .part6 {
    width: 50%;
    float: left;
  }

  .li1 {
    display: none;
  }

  .li2, .li3, .li4 {
    display: inline-block;
    float: right;
    background-color: initial;
  }

}

@media(min-width: 1024px) {

  .name {
    float: left;
  }

  .list-nav {
    float: right;
  }

  .part1, .part2, .part3 {
    width: 33%;
    float: left;
  }

  .part4, .part5, .part6 {
    width: 33%;
    float: left;
  }

  .portret-text {
    padding-right: 55px;
  }

}
